* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Home,
.Artists,
.NotFound,
.Paints {
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.Home {
  background-color: #f2ebb8;
  background-image: url("../images/Background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 3rem;
  color: white;
}

.HomeText {
  font-size: 5rem;
}

.HomeSubText {
  font-size: 3rem;
}

.Artists {
  background-color: #f2ebb8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #8d865c;
}

.Paints {
  height: fit-content;
  background-color: #f2ebb8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #8d865c;
}
