footer,
.footer {
  background: #a69f76;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.3em;
}

.info,
.phone {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-family: Helvetica;
}

.text {
  font-family: Helvetica;
  font-size: 1.5rem;
}
