.preview{
    align-items: center;
    background-color: cadetblue;
    display:inline-table;
    padding: 1%;
    max-width: fit-content;
    height: fit-content;
    border-style: solid;
    margin: 5px;
}
.styleImage{
    width: 75px;
    height: 70px;
    align-items: center;
}
